

/**umb_name:Header*/
h1{font-weight: 900;
            margin-bottom: 3px;
            font-size: 36px;
            line-height: 100%;
            color: #333;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 3px;
            text-transform: uppercase;}



/**umb_name:Subheader*/
h2{text-transform: uppercase;
            font-size: 11pt;
            line-height: 130%;
            font-weight: 400;
            letter-spacing: 0px;
            font-family: 'Open Sans', sans-serif;}

/**umb_name:Paragraph header*/
h3{
            font-size: 14pt;
            line-height: 130%;
            font-weight: bold;}

/**umb_name:Info text*/
.infoText{
            font-size: 12pt;
            line-height: 12pt;
			color: darkgrey;
            font-family: 'Open Sans', sans-serif;}

/**umb_name:Image description*/
.ImageDescription{
	font-size: 13pt;
	text-align: center;
    line-height: 16pt;
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif !important;}