

/**umb_name:Header*/
h1{font-size: 300%;
font-weight: bold;
letter-spacing: 2px;
font-family: 'Open Sans Condensed', sans-serif;
text-transform: uppercase;}



/**umb_name:Subheader*/
h2{font-size: 300%;
font-weight: bold;
font-family: 'Open Sans Condensed', sans-serif;}