

/**umb_name:Paragraph*/
p{font-size: 14pt;
line-height: 20pt;
font-family: Georgia,Times,Times New Roman,serif;}

/**umb_name:Subheader*/
h2{font-size: 200%;
font-weight: bold;
font-family: 'Open Sans Condensed', sans-serif;}

/**umb_name:Header*/
h1{font-size: 50pt;
line-height: 60pt;
font-weight: bold;
letter-spacing: 2px;
font-family: 'Open Sans Condensed', sans-serif;
text-transform: uppercase;}