



/**umb_name:Subheader*/
h2{font-size: 200%;
font-weight: bold;
font-family: 'Open Sans Condensed', sans-serif;}

/**umb_name:Header*/
.hed{font-size: 50pt;
line-height: 50pt;
letter-spacing: 2px;
font-family: 'Open Sans Condensed', sans-serif;
text-transform: uppercase;}

/**umb_name:Text*/
.readmore{font-size: 14pt;
line-height: 20pt;
font-family: Georgia,Times,Times New Roman,serif;}