<?xml version="1.0" encoding="UTF-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<caching currentCache="AzureBlobCache" xdt:Transform="SetAttributes(currentCache)" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <caches>
        <cache name="AzureBlobCache"
               type="Umbraco.Cloud.StorageProviders.AzureBlob.ImageProcessor.ImageCache, Umbraco.Cloud.StorageProviders.AzureBlob"
               maxDays="365"
               browserMaxDays="7"
               folderDepth="0"
               trimCache="true"
               xdt:Locator="Match(name)"
               xdt:Transform="InsertIfMissing"/>
    </caches>
</caching>