<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<security xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <services>
    <service prefix="media/"
             name="BlobImageService"
             type="Umbraco.Cloud.StorageProviders.AzureBlob.ImageProcessor.ImageService, Umbraco.Cloud.StorageProviders.AzureBlob"
             xdt:Locator="Match(prefix,name)"
             xdt:Transform="InsertIfMissing" />
  </services>
</security>