/*.topNavigation {
	li {
		display: inline-block;

		&.active {
  			a {
				text-decoration: underline;
  				color: black;
  			}
  		}
	}
	a {
		font-size: 20pt;
  		text-transform: uppercase;
  		color: darkgrey;
  		text-decoration: none;
			
  		&:hover {
  			color: black;
  		}

  		&:first-child {
  			margin-right: 20px;
  		}
	}
}*/
.category-picker {
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
  margin-top: 5px; }
  .category-picker a {
    display: inline-block; }
  .category-picker .category {
    font-size: 12pt;
    padding-top: 6px;
    cursor: pointer;
    text-decoration: none; }
    .category-picker .category:hover {
      text-decoration: underline; }
    .category-picker .category.current {
      text-decoration: underline; }
    @media (max-width: 768px) {
      .category-picker .category {
        font-size: 12pt; } }
    @media (max-width: 480px) {
      .category-picker .category {
        font-size: 10pt;
        padding-top: 5px; } }

.map {
  margin-top: 10px;
  margin-bottom: 10px; }

.appliedFilter {
  margin-top: 60px; }

#target {
  max-width: 714px; }

.place {
  position: relative;
  cursor: pointer;
  margin: 0;
  /*&:hover {
        .placeHeader, .placeInfo, .readmore.hide {
            background-color: whitesmoke;
        }

        &:before {
            //visibility: visible;
        }
    }*/ }
  .place:before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    content: "\a0";
    display: block;
    visibility: hidden;
    padding: 2px 0;
    line-height: 1px;
    border-right: 3px solid whitesmoke; }
  .place .articleImg {
    margin-top: 5px; }
  .place .placeInfo, .place .readmore {
    margin-bottom: 5px; }
  .place .readmore {
    float: right;
    width: 100%; }
  .place.show .readmore {
    display: none; }
  .place.show .readmore.hide {
    display: block;
    margin-top: -5px; }
  .place .openingHours {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px; }
    .place .openingHours .day {
      color: #666;
      min-width: 70px;
      display: inline-block; }
    .place .openingHours .time:after {
      display: inline-block;
      content: "|"; }
    .place .openingHours .time:last-child:after {
      content: ""; }

.placeHeader {
  width: 100%;
  min-height: 27px;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding-top: 10px;
  font-size: 27px;
  line-height: 100%;
  color: #333;
  text-transform: uppercase;
  position: relative; }
  .placeHeader .addthis_toolbox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    bottom: -3px; }
  .placeHeader .addthis_toolbox.simple {
    bottom: -8px; }
  .placeHeader .desc {
    width: 90%;
    min-height: 60px;
    float: left; }
    @media (max-width: 768px) {
      .placeHeader .desc {
        -ms-word-wrap: break-word;
        word-wrap: break-word; } }
    .placeHeader .desc p {
      margin: 0;
      display: block;
      text-align: left;
      font-size: 12px;
      color: #666;
      padding: 7px 0 0 10px;
      line-height: 110%; }
    .placeHeader .desc .hed {
      width: 100%;
      min-height: 27px;
      display: block;
      font-weight: 900;
      overflow: hidden;
      margin-bottom: 3px;
      font-size: 27px;
      line-height: 100%;
      color: #333;
      text-transform: uppercase; }
    .placeHeader .desc .des {
      width: 83%;
      min-height: 28px;
      display: block;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 13px; }
      @media (max-width: 768px) {
        .placeHeader .desc .des {
          width: 100%; } }
      @media (max-width: 480px) {
        .placeHeader .desc .des {
          font-size: 11px; } }
  .placeHeader .desc.simple {
    min-height: 20px; }
  .placeHeader .mapCategory {
    width: 10%;
    height: 47px;
    float: left;
    margin-top: 12px;
    border-radius: 2px; }
    .placeHeader .mapCategory .fa {
      display: block;
      text-align: center; }
      .placeHeader .mapCategory .fa:before {
        display: inline-block;
        font-size: 20px;
        line-height: 45px;
        color: white; }
    .placeHeader .mapCategory.Eating {
      background-color: #096073; }
      .placeHeader .mapCategory.Eating .fa:before {
        content: "\f0f5"; }
    .placeHeader .mapCategory.Drinking {
      background-color: #DEB94C; }
      .placeHeader .mapCategory.Drinking .fa:before {
        content: "\f000"; }
    .placeHeader .mapCategory.Culture {
      background-color: #7A0045; }
      .placeHeader .mapCategory.Culture .fa:before {
        content: "\f001"; }
    .placeHeader .mapCategory.Shopping {
      background-color: #EF5C5B; }
      .placeHeader .mapCategory.Shopping .fa:before {
        content: "\f07a"; }
    .placeHeader .mapCategory.Sights {
      background-color: #B0CD6E; }
      .placeHeader .mapCategory.Sights .fa:before {
        content: "\f18c"; }

