<div ng-controller="Concorde.FlowController as vm">

<starter-kit-selector
    show="vm.showStarterKitSelector"
    on-select-starter-kit="vm.selectStarterKit">
</starter-kit-selector>

<umb-editor-sub-header>

    <umb-editor-sub-header-content-right>

        <umb-button
            type="button"
            button-style="link"
            label="Open {{vm.environment.name}} on Umbraco.io"
            icon="icon-umb-deploy"
            action="vm.openWorkspace()"
            ng-if="!vm.legacyDashboard">
        </umb-button>

        <a href class="btn btn-link"
           ng-click="vm.openWorkspace()"
           ng-if="vm.legacyDashboard">
            Open {{vm.environment.name}} on Umbraco.io
        </a>

        <div class="btn-group umb-button-group dropdown">

            <umb-button
                type="button"
                button-style="link"
                label="Help and documentation"
                icon="icon-help-alt"
                action="vm.openDocumentation()"
                ng-if="!vm.legacyDashboard">
            </umb-button>

            <a href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/" target="_blank" class="btn btn-link"
               ng-if="vm.legacyDashboard">
                Help and documentation
            </a>

            <a class="btn btn-link dropdown-toggle umb-button-group__toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>

            <ul aria-labelledby="dLabel" class="dropdown-menu bottom-up umb-button-group__sub-buttons -align-right" role="menu" ng-class="{'-align-right': float === 'right'}">
                <li><a target="_blank" href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Getting-Started/">Getting Started</a></li>
                <li><a target="_blank" href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Set-Up/">Set up a Project</a></li>
                <li><a target="_blank" href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Deployment/">Deployment</a></li>
                <li><a target="_blank" href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Troubleshooting/">Troubleshooting</a></li>
            </ul>
        </div>

    </umb-editor-sub-header-content-right>

</umb-editor-sub-header>

<div class="fitted-container" display="relative">

    <div class="workspaces-flow">

        <div class="workspace local"
             ng-class="{
                            '-show-message': vm.activeWorkspace.type === 'local',
                            '-active': vm.user.isLocalEnvironment,
                            '-inactive': vm.user.seenConnection
                           }">

            <!-- there is always a arrow, when not deploying, this indicates direction and flow of deploys -->
            <div class="flow-arrow" ng-hide="vm.workspaceMessage === 'deploy'"></div>


            <!-- Local arrow, either steps once or twice, due to the add env step -->
            <div class="flow-arrow" ng-class="{'-to-next': !vm.showAddEnvironment}"
                 ng-if="vm.user.isLocalEnvironment && vm.workspaceMessage === 'deploy'">
                <div class="bar" ng-style="{width: vm.currentTask !== null ? '0' : ((vm.currentTask.done / vm.currentTask.total) * 100) + '%' }"></div>

            </div>

            <a href ng-click="showLocalMessage($event)">

                <div class="symbol"><i class="icon-pc"></i>
                </div>

                <h4><strong>Local</strong></h4>
                <small ng-hide="vm.user.isLocalEnvironment">Work locally</small>

                <span ng-if="vm.user.isLocalEnvironment" class="current-workspace">
                        <ng-pluralize count="vm.editorChanges"
                                        when="{'0': 'Current workspace',
                                            '1': '1 change',
                                            'other': '{} changes'}">
                        </ng-pluralize>
                    </span>

            </a>

            <div class="workspace-arrow"></div>
        </div>

        <div class="workspace inactive" ng-if="vm.showAddEnvironment"
             ng-class="{'-show-message': vm.activeWorkspace.type === 'add'}">

            <a href ng-click="showAddMessage($event)">
                <div class="symbol"><i class="icon-add"></i>
                </div>
                <h4>Add...</h4>
                <small>Add a workspace</small>
            </a>

            <div class="workspace-arrow"></div>
        </div>


        <div class="workspace"
             ng-class="{'-show-message': vm.activeWorkspace.type === workspace.type,
                                '-active': workspace.current}"
             ng-repeat="workspace in vm.environment.configured">

            <!-- this can always only be onestep, so always to-next -->
            <div class="flow-arrow -to-next"
                 ng-if="workspace.current && vm.workspaceMessage === 'deploy' && showFlowArrow()">
                <div class="bar" ng-style="{width: vm.currentTask !== null ? '0' : ((vm.currentTask.done / vm.currentTask.total) * 100) + '%' }"></div>
            </div>

            <a href ng-click="showWorkspaceMessage($event, workspace)">

                <div class="symbol"><i class="icon-globe-alt"></i>
                </div>
                <h4><strong>{{workspace.name}}</strong></h4>

                <small ng-hide="workspace.current">{{workspace.name}} Workspace</small>

                <span ng-if="workspace.current" class="current-workspace">
                            <ng-pluralize count="vm.editorChanges"
                                            when="{'0': 'Current workspace',
                                                '1': '1 change',
                                                'other': '{} changes'}">
                            </ng-pluralize>
                        </span>
            </a>

            <div class="workspace-arrow"></div>
        </div>

    </div>
</div>

<div class="workspace-message" ng-switch="vm.workspaceMessage">

    <div class="umb-infobox" ng-switch-when="deploy">
        <div
            class="umb-infobox-content"
            ng-include="'/app_plugins/deploy/views/flow-deploy.html'">
        </div>
    </div>

    <div class="umb-infobox" ng-switch-when="add-workspace">
        <div class="umb-infobox-content">
            <h4 class="umb-infobox-title">Add a workspace</h4>
            <p>Add a private workspace where you and your team can test
                changes before they are sent to the Live website.
            </p>

            <p>
                After the workspace is added, all changes from your local machine is sent to the testing workspace
            </p>

            <br>

            <button ng-click="vm.openAddEnvironment()" class="umb-era-button -blue">Add workspace</button>
        </div>
    </div>

    <div class="umb-infobox" ng-switch-when="config">

        <div class="umb-infobox-content row">

            <div class="span6">
                <h4 class="umb-infobox-title">View website</h4>

                <p>Open the website or Umbraco backoffice in a new window</p>

                <ul class="unstyled">
                    <li>
                        <a class="btn btn-link" target="_blank" ng-href="{{vm.activeWorkspace.url}}">
                            <i class="icon-layout blue"></i>
                            View website</a>
                    </li>
                    <li>
                        <a class="btn btn-link" target="_blank" ng-href="{{vm.activeWorkspace.url +'/umbraco'}}">
                            <i class="icon-settings-alt blue"></i>
                            Open umbraco backoffice</a>
                    </li>
                </ul>

            </div>

            <div class="span6">

                <h4 class="umb-infobox-title">Manage Workspace</h4>

                <p>Manage workspace settings on umbraco.io, there you can invite team members, assign
                hostnames, adjust security and

                <ul class="unstyled">
                    <li>
                        <a class="btn btn-link" target="_blank" ng-href="{{'https://umbraco.io/project/' + vm.environment.alias}}">
                            <i class="icon-umb-deploy blue"></i>
                            Open {{vm.environment.name}} on Umbraco.io</a>
                    </li>
                </ul>

            </div>


        </div>

    </div>

    <div class="umb-infobox" ng-switch-when="connection">

        <div class="umb-infobox-content">

            <h4 class="umb-infobox-title">Start working with your website locally</h4>
            <p>Makes your changes locally and easily send them to uaas, choose how to work</p>


            <div class="connection-options">
                <a href ng-click="show = 'vs'">
                    <i class="icon-infinity"></i>
                    <small>Use Visual Studio</small>
                </a>

                <a href ng-click="show = 'cli'">
                    <i class="icon-terminal"></i>
                    <small>Use Grunt or Gulp</small>
                </a>

                <a href ng-click="show = 'git'">
                    <i class="icon-forms-github"></i>
                    <small>Connect with git</small>
                </a>

            </div>


            <div ng-switch="show" class="connection-instructions">
                <div ng-switch-when="git">

                    <h4>Git Clone</h4>
                    <p>Use a git client like source tree or git kraken to clone
                        your uaas workspace, use the git url below</p>

                    <p>
                        <pre>{{vm.environment.configured[0].git}}</pre>
                    </p>

                    <p>This will pull down all your website files to your local machine, you can now make local changes
                        and push them back to umbraco as a service when they are ready to go live, using nothing but a standard git client</p>
                    <hr>

                    <a href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Set-Up/Working-Locally/"
                       target="_blank" class="btn btn-link"><i class="icon icon-help-alt"></i> Get detailed git instructions</a>
                </div>

                <div ng-switch-when="vs">
                    <h4>Work locally with Visual Studio</h4>
                    <p>For developers who use Visual Studio and Umbraco with code from external projects,
                        we offer a setup script which will create and configure a complete Visual Studio solution.
                        The solution will use the git repostiory from Umbraco as a Service making deployments as simple
                        as pushing the changes from your local solution to the remote Umbraco as a Service environment.
                    </p>

                    <hr>
                    <a href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Set-Up/Visual-Studio/"
                       target="_blank" class="btn btn-link"><i class="icon icon-help-alt"></i> Get detailed instructions</a>
                </div>

                <div ng-switch-when="cli">
                    <h4>Work locally with Grunt or Gulp</h4>
                    <p>Umbraco as a service provides a fast way to syncronise design changes, directly from your local machine, it works by
                        running a node.js command, which will connect to your remote website and start syncing file changes.
                        For a fast view on how your changes will be applied, a local browser window will show changes as they sync</p>

                    <h4>1. Make a initial git clone of your site</h4>
                    <p>Use a git client like source tree or git kraken to clone
                        your uaas workspace, use the git url below</p>

                    <p>
                        <pre>{{vm.environment.configured[0].git}}</pre>
                    </p>

                    <h4>2. Install the node.js module</h4>
                    <p>Run the below command in a terminal, to instal the node.js module, this will make a command called 'uaas' available in your terminal</p>
                    <p>
                        <pre>npm install uaas-cli -g</pre>
                    </p>

                    <h4>3. Run the uaas command and sync changes</h4>
                    <p>
                        Open a terminal in the root folder of your cloned website, then run the command:
                    </p>
                    <p>
                        <pre>uaas watch</pre>
                    </p>
                    <p>
                        Follow onscreen instructions to authenticate and start making changes to your local files
                        - a browser window will open and display changes as they are applied to your website.
                    </p>

                    <hr/>

                    <a href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Set-Up/Working-With-Uaas-Cli/"
                       target="_blank" class="btn btn-link"><i class="icon icon-help-alt"></i> Get detailed instructions</a>

                </div>
            </div>
        </div>
    </div>

</div>
</div>