<div>
    <h5>Deploy is not possible</h5>
    <p class="umb-abstract">
        The deployment cannot continue because the destination doesn't appear up-to-date.
    </p>

    <p>
        If you are an editor then please contact your developers or admins and have them update the destination
        environment before continuing with another content deployment.
    </p>

    <hr/>

    <ul class="unstyled list-icons">
        <li ng-if="ui.isLocalEnvironment">
            <i class="icon icon-book-alt-2"></i>
            <a 
                href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Troubleshooting/Content-Deploy-Schema/Local/"
                target="_blank">
                Read developer documentation on troubleshooting schema problems
            </a>
        </li>

        <li ng-if="!ui.isLocalEnvironment">
            <i class="icon icon-book-alt-2"></i>
            <a
                href="https://our.umbraco.org/documentation/Umbraco-as-a-Service/Troubleshooting/Content-Deploy-Schema/Remote/"
                target="_blank">
                Read developer documentation on troubleshooting schema problems
            </a>
        </li>

        <li ng-hide="showDetails">
            <i class="icon icon-search blue"></i>
            <a href
               prevent-default
               ng-click="showDetails = true">Click to see below to see exactly what is out of sync</a>
        </li>
    </ul>

    <div ng-show="showDetails" id="details-view">
        <h4>Details:</h4>
        <p>Changed items blocking your deployment:</p>

        <div ng-transclude></div>
    </div>


</div>    