<div class="umb-dialog" ng-controller="Concorde.QueueDialogController">

    <div class="umb-pane">
        <ul class="deployModal unstyled" ng-switch="step">

            <li ng-switch-default>
                <queue-item ng-if="currentNode" 
                            current-node="currentNode" 
                            on-queued="onQueued(response)" 
                            package-queue="false"
                            environment="environment">
                </queue-item>
            </li>


            <li ng-switch-when="queued">
                <h5>Changes have been queued</h5>
                <p>
                    When you are ready to deploy your full set of changes, go to the deployment dashboard to start the
                    deployment
                </p>

                <button class="btn" prevent-default ng-click="nav.hideDialog()">Ok</button>
            </li>
        </ul>

    </div>
</div>