/* Arrow to illustrate flow direction */
.flow-arrow {
	background: #ccc;
	height: 20px;
	opacity: 0.2;
	width: 220px;
	left: 100px;
	top: 30%;
	position: absolute;
	margin-right: 70px;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	z-index: 0;
}

.flow-arrow .bar{
	background: #2e8aea !important;
	box-shadow: none !important;
	height: 20px;
	width: 0;

	-webkit-transition: width .6s ease;
          transition: width .6s ease;
}

.flow-arrow:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #ccc;
	border-width: 20px;
	margin-top: -20px;
}

.seperator {
	border-bottom: 2px dashed #ccc;
	min-height: 0 !important;

	position: absolute;
	top: 200px;
	left: 50px;
	right: 50px;
}

.seperator.-active {
	border-color: #2e99f4;
	border-bottom-style: solid;
}

.seperator.-active .seperator-arrow {
	display: block;
}


.error {
    margin: 10px;
}

/* Seperator arrow */

.seperator-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: auto;
	-webkit-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
	display: none;
}

.seperator-arrow-stroke {
	stroke-linecap: square;
	stroke: #2e99f4;
	stroke-width: 10px;
}

/* Workspaces */
.workspaces-flow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.workspace {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	padding: 0px 20px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100px;
	        flex: 0 0 100px;
	position: relative;
	height: 220px;
}

.workspace .workspace-arrow{
	display: none;
    left: 50%;
}

.workspace.-show-message .workspace-arrow {
	display: block;
	position: absolute;
	bottom: -2px;
    left: 50%;
	z-index: 666;
}

.workspace-arrow:after, .workspace-arrow:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.workspace-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: whitesmoke;
	border-width: 10px;
	margin-left: -10px;
}

.workspace-arrow:before {
	border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ececec;
	border-width: 13px;
	margin-left: -13px;
}

.workspace.current {
	color: white;
}

.workspace a {
	text-decoration: none;
	padding: 30px 10px;
	border: 2px solid transparent;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-transition: box-shadow 100ms ease-in;
	transition: box-shadow 100ms ease-in;

	position: relative;
	z-index: 1;
}

.workspace small {
	opacity: .6;
	-webkit-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

.workspace .symbol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-left: auto;
    margin-right: auto;

	border: 2px solid #d9d9d9;
	border-radius: 50%;
	width: 66px;
	height: 66px;

	background: white;
}

.workspace-notification {
	background: #53a93f;
	padding: 1px 10px;
	border-radius: 3px;
	color: white;
	font-size: 12px;
	position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
	margin-top: -15px;
}


.workspace.inactive .symbol {
	color: #ccc;
	border-style: dashed;
}

.workspace i {
	font-size: 28px
}

.workspace .pending {
	font-size: 30px;
}

.workspace .pending small {
	font-size: 11px;
	display: block;
}


.workspace.-show-message small {
	opacity: 1;
}


/* Hover states */
.workspace a:hover {
	cursor: pointer;
}

.workspace a:hover small {
	opacity: 1;
	-webkit-transition: opacity 100ms ease-in;
	transition: opacity 100ms ease-in;
}


.workspace.-show-message .symbol,
.workspace.-show-message:hover .symbol {
	border-color: #2e99f4;
}

.workspace a:hover .symbol {
	background-color: #2e99f4;
	color: white;
	border-color: #2e99f4;
}



/* Connections Options */
.connection-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: -10px;
}

.connection-options a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	padding: 20px 10px;
	background: white;

	border: 2px solid transparent;
	border-radius: 3px;

	margin: 0 10px;

	-webkit-box-flex: 0;

	    -ms-flex: 0 0 120px;

	        flex: 0 0 120px;

	text-decoration: none;
}

.connection-options i {
	font-size: 48px;
	line-height: 50px;

	margin-bottom: 10px;
	opacity: .6;
}

.connection-options small {
	font-weight: bold;
}


.connection-options a:hover {
	border-color:  #2e99f4;
}

.connection-options a:hover i {
	opacity: 1;
}


/*RESTORE*/
.restore .cta {
	padding: 0;
	border: none;
	margin-top: 60px;
}

.restore .cta-disabled{
	opacity: 0.4;
}

.restore .cta .button {
	padding: 14px 48px;
    cursor: pointer;
}

.restore .cta small {
	margin-left: 20px;
}

.restore .cta small span {
	font-size: 13px;
	color: #fff;
	margin-right: 5px;
}

.restore .cta small a {
	display: inline-block;
	font-size: 13px;
	color: #fff;
}

.restore li {
	list-style: none;
}

.restore .login {
	overflow: hidden;
	max-width: 75%;
	margin: 0 auto;
	padding: 50px 0 0;
}

.restore li .input {
	position: relative;
	width: 45%;
	float: left;
}

.restore li .input:first-child {
	margin-right: 9%;
	margin-left: 1%;
}

.restore li p {
	margin: 20px 0 0;
}

.restore label {
	position: absolute;
	top: -20px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.restore .input input[type="text"],
.restore .input input[type="password"] {
		padding: 16px 8px;
		width: 100%;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		border: 2px solid transparent;
	}

.restore .input input[type="text"]:focus,
.restore .input input[type="password"]:focus {
		outline: none;
		border-color: #2e99f4;
	}

.restore input.ng-invalid.ng-touched {
    	background-color: #FA787E;
  	}

.restore .json {
		text-align: left;
		padding: 15px;
		margin: 30px 0;
		background: rgba(0,0,0, .23);
		overflow: hidden;
	}

.restore .json pre {
	overflow: auto;
	white-space: pre-wrap;
    word-wrap: break-word;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 14px;
    line-height: 1.5;
    color: #d3d3d3;
}

.restore .json a {
    font-size: 0.8em;
    font-weight: normal;
}

.restore .json code {
    color: #d3d3d3;
}

/*DEPLOY*/
.deployModal label {
	margin-bottom: 20px;
	font-size: 12px;
}

.deployModal label input {
	transform: translate(0, -3px);
	-moz-transform: translate(0, -3px);
	-webkit-transform: translate(0, -3px);
}

.deployModal ul {
	margin-bottom: 30px;
}

.deployModal li {
	font-size: 13px;
}

.deployModal li + li {
	margin-top: 8px;
}

.deployList {
	margin-bottom: 30px;
}

.deployList p {
	margin-bottom: 0;
}

.deployList li {
	font-size: 13px;
	position: relative;
	list-style: none;
}

.deployList li:before {
	border: 1px solid #85C5E7;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 4px;
	left: -18px;
	position: absolute;
	top: 8px;
	width: 4px;
}

.deployList.deployProblems li:before {
	border: 1px solid #FF4340;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 4px;
	left: -18px;
	position: absolute;
	top: 8px;
	width: 4px;
}


.deployModal .btn-link {
	font-size: 14px;
}

.deployModal p + p {
	margin-top: 10px;
}

.deployModal li br + small {
	margin-top: 10px;
	display: block;
}

.deployDone h5, .tab-content .deployModal .deployDone h5 {
	color: #37C75F;
}

.deployProblems h5 {
	color: #FF4340;
}


.deployOutput button {
	margin-top: 30px;
}


/* fade out long lists of changes */
.fadeout-element{
	max-height: 100px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}


.fadeout-element:before {
  content:'';
  width:100%;
  height:50px;
  position:absolute;
  left:0;
  bottom:0;

  background: -webkit-linear-gradient(rgba(255,255,255,0) 1%, rgba(255,255,255,0.04) 3%, rgba(245,245,245,1) 46%, rgba(245,245,245,1) 47%);
  background: linear-gradient(rgba(255,255,255,0) 1%, rgba(255,255,255,0.04) 3%, rgba(245,245,245,1) 46%, rgba(245,245,245,1) 47%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=0 );

  z-index: 90;
}

.fadeout-element .toggle-link{
	position: absolute;
	bottom: 0px;
	z-index: 100;
}

.tab-content .deployModal h5 {
	font-size: 20px;
	color: black;
}

.tab-content .deployModal h5 + p {
	font-size: 14px;
}

.tab-content .deployModal br + small {
	margin-top: 2px;
	margin-left: 22px;
	opacity: .7;
}

.tab-content .deployModal button + br + small {
	margin-left: 0;
	margin-top: 15px;
}

.tab-content .deployModal .icon-check {
	font-size: 12px;
	margin-right: 5px;
	color: #85C5E7;
}


@media (max-width: 768px) {

	.restore .login {
		overflow: hidden;
		max-width: 85%;
		margin: 0 auto;
		padding: 50px 0 0;
	}

	.input label {
		font-size: 11px;
	}

	.restore li .input {
		position: relative;
		width: 100%;
		float: none;
	}

	.restore li .input:first-child {
		margin: 0 0 45px 0;
	}

	.restore .cta small {
		display: block;
		margin-top: 20px;
	}

	.restore .cta small span {
		display: none;
	}

	.restore .cta .button {
		padding: 18px 88px;
	}

	.json {
		box-sizing: border-box;
	}

	.json pre {
		word-wrap: break-word;
		white-space: normal;
		word-break: break-all;
	}
}

/* Progres bar */
.progress-deploy{
	background-image: none  !important;
	border-radius: 0px !important;
	border: none  !important;
	box-shadow: none !important;
	height: 10px;
}

.progress-deploy .bar{
	background: #2e8aea !important;
	box-shadow: none !important;
	height: 10px;

	-webkit-transition: width .6s ease;
          transition: width .6s ease;
}

.restore-deploy{
    background: rgba(255, 255, 255, 0.11);
}

.restore-deploy .bar{
	background: #fff !important;
}



/* umb full overlay */
.umb-full-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .96);

	z-index: 99999;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/* umb selector */
.umb-selector {
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.umb-selector-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.umb-selector-intro-loader {
	position: relative;
	display: block;
	padding: 80px 0;
}

.umb-selector-intro p {
	line-height: 1.9;
	font-size: 0.9rem;
}

.umb-selector-intro-status {
	font-weight: bold;
	text-align: center;
	color: black;
}

.umb-selector-choices {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* umb selector choice */
.umb-selector-choice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background: #f7f7f7;
	max-width: 280px;
	padding: 40px;
	margin: 20px;

	-webkit-transition: box-shadow 100ms ease;

	transition: box-shadow 100ms ease;
}


/* umb selector presentation */
.umb-selector-presentation {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

	border: 2px dashed #9f9f9f;

	width: 112px;
	height: 160px;

	border-radius: 3px;

	text-align: center;

	-webkit-transition: border-color 100ms ease;

	transition: border-color 100ms ease;
}

.umb-selector-presentation.-solid {
	border-style: solid;
}


/* umb selector info */
.umb-selector-info {
	margin-bottom: 20px;
	text-align: center;
}

.umb-selector-info p {
	line-height: 1.6;
	opacity: .6;
	-webkit-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}


/* umb selector kit (svg)*/
.umb-selector-kit {
	width: 100%;
	height: auto;
}

.umb-selector-kit .fill {
	fill: #ddd;
	-webkit-transition: fill 100ms ease;
	transition: fill 100ms ease;
}


/* umb-buttons-era */
.umb-era-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;

    height: 38px;
    line-height: 1;


    max-width: 100%;
    padding: 0 18px;

    color: #484848;
    background-color: #e0e0e0;

    text-decoration: none !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    white-space: nowrap;
    overflow: hidden;

    border-radius: 3px;
    border: 0 none;

    -webkit-transition: background-color 80ms ease, color 80ms ease;

    transition: background-color 80ms ease, color 80ms ease;
}


.umb-era-button:hover,
.umb-era-button:active {
    color: #484848;
    background-color: #d3d3d3;
    outline: none;
    text-decoration: none;
}


.umb-era-button:focus {
    outline: none;
}

.umb-era-button.-blue {
	background: #2e8aea;
	color: white;
}

.umb-era-button.-blue:hover {
	background-color: #287dd6;
}

.umb-era-button:disabled{
	opacity: 0.5;
}

/* Hover states */
.umb-selector-choice.selected {
	box-shadow: 0 5px 20px rgba(0,0,0,0.15);
	-webkit-transition: box-shadow 100ms ease;
	transition: box-shadow 100ms ease;
	background: white
}

.umb-selector-choice .umb-selector-presentation {
	border-color: #2e8aea;
	-webkit-transition: border-color 100ms ease;
	transition: border-color 100ms ease;
}

.umb-selector-choice:hover .umb-selector-info p {
	opacity: 1;
	-webkit-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

.umb-selector-choice .umb-selector-kit .fill {
	fill: rgba(46,138,235,.5);
	-webkit-transition: fill 100ms ease;
	transition: fill 100ms ease;
}


/* umb-infobox */
.umb-infobox {
	background: whitesmoke;
	border-radius: 3px;
	border: 2px solid #ececec;
	padding: 20px;
	position: relative;
}

.umb-infobox p {
	line-height: 1.6;
}

.umb-infobox .umb-infobox-title {
	font-weight: bold;
	color: black;
    text-transform: inherit;    
}

/* Current workspace */
.current-workspace {
	font-size: 11px;
    font-weight: bold;
    background: #50C878;
    padding: 3px 10px;
    border-radius: 3px;
    color: white;
    display: inline-block;
}

.fitted-container {
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
}


.-to-next .flow-arrow, .flow-arrow.-to-next {
	width: 80%;
}
.flow-arrow.complete:after {
    border-left-color: #2e8aea !important;
}

@media (min-width: 768px) {
	.workspace {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 150px;
		        flex: 0 0 150px;
		padding: 0 40px;
	}

	.flow-arrow {
		width: 350px;
		left: 145px;
	}

	.-to-next .flow-arrow {
		width: 120px;
    	left: 135px;
	}
}


@media (min-width: 992px) {
	.workspace {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 250px;
		        flex: 0 0 250px;
	}

	.flow-arrow {
		width: 580px;
		left: 165px;
	}

	.-to-next .flow-arrow {
		width: 250px;
		left: 165px;
	}
}
