<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<FileSystemProviders xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core" xdt:Locator="Match(alias,type)" xdt:Transform="Remove"/>
    <Provider alias="media" type="Umbraco.Cloud.StorageProviders.AzureBlob.FileSystem, Umbraco.Cloud.StorageProviders.AzureBlob" xdt:Transform="InsertIfMissing">
        <Parameters>
            <add key="virtualRoot" value="~/media/" />
        </Parameters>
    </Provider>
</FileSystemProviders>