<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="b2728f76-3f08-47d3-9115-d7922d16410a" name="This is odense" alias="this-is-odense" color="#8080ff" type="Professional" url="https://www.s1.umbraco.io/project/this-is-odense">
  <environment type="live" name="Live" id="d01e6589-6f61-4e2b-9942-b17256eeea47">https://this-is-odense.s1.umbraco.io</environment>
</environments>