<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="b2728f76-3f08-47d3-9115-d7922d16410a" name="This is odense" alias="this-is-odense" color="#8080ff" type="Agency">
  <environment type="development" name="Development" id="ce9de5c4-d750-4b42-8876-05f4622cb5ce">http://dev-this-is-odense.s1.umbraco.io</environment>
  <environment type="staging" name="Staging" id="16c7656d-0b99-4f8f-bfa7-5cc59a18c9ab">http://stage-this-is-odense.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="d01e6589-6f61-4e2b-9942-b17256eeea47">http://this-is-odense.s1.umbraco.io</environment>
</environments>