<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments">
  <environment type="development" name="Development">http://dev-this-is-odense.s1.umbraco.io</environment>
  <environment type="staging" name="Staging">http://stage-this-is-odense.s1.umbraco.io</environment>
  <environment type="live" name="Live">http://this-is-odense.s1.umbraco.io</environment>
</environments>