@using TIO.Core.Models;
@using TIO.Mvc.Core;
@using Library.Tools;
@using Const = TIO.Core.Models.Constants;
@using FILTER = TIO.Core.Models.Constants.Controllers.WriterArchive.FILTER;

@inherits BaseViewPage<ArchiveModel>
@{
    string url = "";
    switch (Model.Filter)
    {
        case FILTER.Recommendations:
            url = Url.Action(Const.Controllers.Recommendation.Actions.RECOMMENDATION, Const.Controllers.Recommendation.NAME, new { id = Model.Id });
            break;
        case FILTER.Articles:
            url = Url.Action(Const.Controllers.Article.Actions.ARTICLE, Const.Controllers.Article.NAME, new { id = Model.Id });
            break;
        case FILTER.Locations:
            url = Url.Action(Const.Controllers.Location.Actions.LOCATION, Const.Controllers.Location.NAME, new { id = Model.Id });
            break;
    }
}
<div style="float:right">
    <article class="achive">
        <p class="achive">
            <a href="@url">
                <img src="@Model.Image" class="achive">
                    <strong class="hed">@Model.Headline</strong>
                    <br>
                    <span class="des">@Model.SubHeader</span>
                </a>
        </p>
    </article>
</div>
