@using Models = TIO.Core.Models
@using System.Web.Optimization;

@inherits  TIO.Mvc.Core.BaseViewPage<TIO.Core.Models.WritersModel>

@section scripts {
    @Scripts.Render(Models.Constants.Js.General)
}

@{
    Layout = "~/Views/Layout.cshtml";
}
@Html.Raw(Model.About)
<div class="writers">
    <a href="javascript:void(-1);" id="writers" name="writers"></a>
    @Html.DisplayFor(model => model.Writers)
    <br style="clear:both"/>
</div>