@using System.Web.Mvc.Html;
@using System.Web.Optimization;
@using Models = ThisIsOdense.Website.Models

@inherits  ThisIsOdense.Mvc.Core.BaseViewPage<ThisIsOdense.Website.Models.WritersModel>

@section scripts {
    @Scripts.Render(Models.Constants.Js.General)
}

@{
    Layout = "~/Views/Layout.cshtml";
}
@Html.Raw(Model.About)
<div class="writers">
    @Html.DisplayFor(model => model.Writers)
    <br style="clear:both"/>
</div>

